* {
	background: transparent;
	color: $black;
	box-shadow: none;
	text-shadow: none;
	font-family: sans-serif;
	font-size: 14px;
}

h1,
h2,
h3 {
	font-family: georgia;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

a {
	color: $black;
	text-decoration: none;
}

a,
a:visited {
	text-decoration: underline;
}

pre,
blockquote {
	border: 1px solid $aluminum;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr,
img {
	page-break-inside: avoid;
}

img {
	max-width: 100%;
}

@page {
	margin: .5cm;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

.header {
	background-image: none;
	background-color: transparent;
}

.header__title,
.header__nav,
footer {
	display: none;
}

.header__link {
	text-decoration: none;
}

.header__title {
	letter-spacing: -4px;

	span {
		display: inline-block;
	}
}


.vcard .fn {
	font-size: 2em;

	&::after {
		content: " - Curriculum Vitae";
	}
}
