/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
/content/uploads/*
.DS_Store
.DS_Store
.project
npm-debug.log
*.sass-cache/
/content/debug.log
/content/cache/*
/content/cache/**/*.php
content/cache/config/master.php
/content/cache/config/master.php

## sublime text files
*.sublime-*

/content/themes/v3/library/stylesheets
/content/themes/v3/library/stylesheets/*
/content/themes/v3/library/css/*
/content/w3tc/pgcache/*
/content/w3tc/objectcache/*
/content/themes/twentyten/*
/content/themes/twentyeleven/*
/content/themes/twentytwelve/*
/content/themes/twentythirteen/*

content/cache/config/master.php