/shared
local-config.php
wp-config.php

/sql-dump-*.sql
/db-sync
/content/upgrade/
/content/uploads/*
.DS_Store
.project
npm-debug.log
*.sass-cache/
/content/debug.log
vvv-hosts
serviceWorker.js
bower-compenents/
node_modules/

vendor
## sublime text files
*.sublime-*

/content/themes/v6/bower_components
/content/themes/v6/node_modules
*.map

test.php
