[submodule "wp"]
	path = wp
	url = https://github.com/WordPress/WordPress.git

[submodule "content/plugins/wp-api"]
	path = content/plugins/wp-api
	url = https://github.com/WP-API/WP-API.git

[submodule "content/plugins/OAuth1"]
	path = content/plugins/OAuth1
	url = https://github.com/WP-API/OAuth1
