/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
/content/uploads/*
.DS_Store
.project
*.sass-cache/
/content/debug.log

## sublime text files
*.sublime-*

/content/themes/v3/library/stylesheets
/content/themes/v3/library/stylesheets/*
/content/themes/v3/library/css/*
/content/themes/test-theme/src/node_modules
/content/w3tc/pgcache/*