// Extensions e.g. clearfix

%clearfix  {
    &:before, 
    &:after { 
        content: ""; 
        display: table; 
    }
    
    &:after { 
        clear: both; 
    }
}
.clearfix,
.clear {
	@extend %clearfix;
}

