// Contact Form

.wpcf7 {
	
	label, 
	textarea,
	input[type="text"] {
		display:block;
	}
	
	input[type="text"],
	textarea {
		width:270px;
	}
	
	input[type="text"] {
		padding:0.25rem;
		margin-bottom:1rem;
	}
	
}
