.header {
	margin-bottom: 1rem;
	background-color: color($black a(10%));
	background-image: $header-bg;

	&__row {
		padding: 1.5rem 0 .5rem;
	}

	&__title {
		text-align: center;
		margin-bottom: 1rem;
	}

	&__nav {
		text-align: center;
	}

	&__menu {
		display: inline-block;

		li {
			padding-right: 20px;
		}

		a {
			display: inline-block;
			margin-bottom: 1rem;
		}
	}

}

