.icon {
	@mixin wh 30px;
	display: inline-block;
	fill: $orange;

	&:hover {
		fill: $blue;
	}
}

.icon--shortcode {
	@mixin wh 100px;
	fill: $body-color;
}

.icon--small {
	@mixin wh 50px;
}

.icon--large {
	@mixin wh 150px;
}
