/* Mixin for Generating relative font-sizes:*/
@define-mixin fs $fontSize, $base: 16 {
	font-size: $fontSize / $base * 1em;
}

/* Useage :
// If you want element to be 13px and parent is 16px :
// +fs(13)
// If you want element to be 22px and parent is 32px :
// +fs(22,32) */

/* Mixin for line-height: */
@define-mixin line $lineHeight, $base {
	line-height: $lineHeight / $base * 1;
}

@define-mixin hocus {
	&:focus,
	&:hover {
		@content;
	}
}

@define-mixin wh $value {
	width: $value;
	height: $value;
}

/*@define-mixin rows $rows {
	@return $rows * 16 + 'px';
}
*/


@define-mixin ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

@define-mixin cf {
	&::after {
		clear: both;
	}

	&::before,
	&::after {
		content: " ";
		display: table;
	}
}

@define-placeholder vh {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@define-mixin list--plain {
	margin: 0;
	list-style: none;
}


