.header {
	margin-bottom: 1rem;
	background-color: rgba($black, .1);
	background-image: $header-bg;

	&__row {
		padding: 1.5rem 0 .5rem;
	}

	&__title {
		text-align: center;
		margin-bottom: 1rem;
	}

	&__nav {
		text-align: center;
	}

	&__menu {
		display: inline-block;

		li {
			padding-right: 20px;
		}

		a {
			display: inline-block;
			margin-bottom: 1rem;
		}
	}
}

// @custom-selector :--heading h1, h2, h3, h4, h5, h6;
// :--heading {
// 	background-color: orange;
// 	position: relative;

// 	&:after {
// 		background-color: #FFF;
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		height: 10px;
// 		width: 10px;
// 		-webkit-border-radius: 30%;
// 		border-radius: 50%;
// 	}
// }
