



.icon {
	display: inline-block;
	@include wh(30px);

	fill: orange;

	@include hocus {
		fill: blue;
	}
}

.icon--shortcode {
	@include wh(100px);
	fill: $body-color;
}

.icon--small {
	@include wh(50px);
}

.icon--large {
	@include wh(100px);
}

.icon--large {
	@include wh(150px);
}

