// body {
// 	font-family: $opensans;
// }

h1 {
	font-size: 2rem;
}

.seperator {
	padding: 1rem 0;
	margin: 3rem 0;
	border-top: 1px solid $body-color;
	border-bottom: 1px solid $body-color;
}

.seperator:first-child {
	margin-top: 0;
}

.content-container {
	@extend .row;
}

.list--plain {
	margin: 0;
	list-style: none;
}


.list--inline {
	@extend .list--plain;

	li {
		float: left;
	}
}

a {
	border-bottom: 3px solid transparent;
	margin-bottom: -3px;

	&:hover,
	&:focus {
		border-bottom-color: $primary-color;
	}
}

.link--dark {
	color: $body-color;
}

.header__link {
	border-bottom: 0;
}

// Links

.current-menu-item,
.current_page_item,
.current_page_parent {
> a {
		border-bottom: 3px solid $primary-color;
	}
}

.content-container {
	.columns + .columns:last-child {
		float: left;
	}
}


article {
	&:nth-child(odd) {
		clear: left;
	}
}
.article__header--front-page {
	margin-bottom: 1rem;

	h1 {
		display: inline-block;
	}
}

.article__time {
	display: inline-block;
	padding: 1rem;
	font-weight: bold;
	position: relative;
	top: -0.25rem;
	margin-right: 1rem;
}

.article__content--front-page {
	margin-left: 107px;
}

// vcard styles

.vcard {
	border: 0;
	padding: 0;
	margin: 0;
	display: block;

	.fn {
		font-size: 2.75em;
	}

	.adr {
		margin-bottom: 0.3rem;
	}

	.email, .tel {
		@extend p;
	}

	a {
		margin-bottom: 0;
		border-bottom: 0;
	}
}


picture,
picture > img {
	width: 100%;
	max-width: 100%;
}

// Testing Flexbox stuff
.box-container {
	@include flexbox();
	@include flex-direction(column);
}

.box {
	background: red;
	padding: 3rem;
	margin-bottom: 3rem;
}

.box-1 {
	@include order(1);
}

.box-2 {
	@include order(2);
}

.box-3 {
	@include order(3);
}
