// body {
// 	font-family: $opensans;
// }

.content-container {
	@extend .row;
}

.list--plain {
	margin: 0;
	list-style: none;
}


.list--inline {
	@extend .list--plain;

	li {
		float: left;
	}
}



// Styles specific to the_content()
.post-content,
.header__menu {
	a {
		border-bottom: 3px solid transparent;
		margin-bottom: -3px;
		// transition: border 0.1s ease-in-out;


		&:hover,
		&:focus {
			border-bottom-color: $primary-color;
		}
	}

	.current_page_item {
	> a {
			border-bottom: 3px solid $primary-color;
		}
	}

	.large-6 + .large-6:last-child {
		float: left;
	}

}

article {
	&:nth-child(odd) {
		clear: left;
	}
}

// vcard styles

.vcard {
	border: 0;
	padding: 0;
	margin: 0;

	.fn {
		font-size: 2.75em;
	}

	.adr {
		margin-bottom: 0.3rem;
	}

	.email, .tel {
		@extend p;
	}

	a {
		margin-bottom: 0;
		border-bottom: 0;
	}
}

