// body {
// 	font-family: $opensans;
// }

.content-container {
	@extend .row;
	@extend %cf;
}

// header,
// main,
// footer {
// 	@extend .row;
// }

.list--plain {
	margin: 0;
	list-style: none;
}


.list--inline {
	@extend %cf;
	@extend .list--plain;

	li {
		float: left;
	}
}


// Styles specific to the_content()
.post-content,
.header__menu {
	a {
		border-bottom: 3px solid transparent;
		margin-bottom: -3px;
		// transition: border 0.1s ease-in-out;


		&:hover,
		&:focus {
			border-bottom-color: $primary-color;
		}
	}

	.large-6 + .large-6:last-child {
		float: left;
	}

}

article {
	&:nth-child(odd) {
		clear: left;
	}
}
