$white: white;
$black: black;
$red: red;

$primary-color: $red;

// To edit this background, follow this link:
// http://svgeneration.com/generate/Steel?size=15&top=472323&bottom=804343&turbulence=0.5&

$body-bg: "PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJz4KCTxkZWZzPgoJCTxsaW5lYXJHcmFkaWVudCBpZD0nZycgIHgyPScwJyB5Mj0nMTAwJSc+CgkJCTxzdG9wIG9mZnNldD0nMCUnIHN0eWxlPSdzdG9wLWNvbG9yOiM0NzIzMjM7c3RvcC1vcGFjaXR5OjEnIC8+CgkJCTxzdG9wIG9mZnNldD0nMTAwJScgc3R5bGU9J3N0b3AtY29sb3I6IzgwNDM0MztzdG9wLW9wYWNpdHk6MScgLz4KCQk8L2xpbmVhckdyYWRpZW50PgoJCTxwYXR0ZXJuIGlkPSdiJyBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyB4PScwJyB5PScwJyB3aWR0aD0nMTUnIGhlaWdodD0nNy41JyB2aWV3Qm94PScwIDAgMjAgMTAnID4KCQkJPHJlY3QgZmlsbD0ndXJsKCNnKScgeD0nOScgeT0nLTYnIHdpZHRoPScxMicgaGVpZ2h0PScxMicvPgoJCQk8cmVjdCBmaWxsPSd1cmwoI2cpJyB4PSc5JyB5PSc1JyB3aWR0aD0nMTInIGhlaWdodD0nMTAnLz4KCQkJPHJlY3QgZmlsbD0ndXJsKCNnKScgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJy8+CgkJPC9wYXR0ZXJuPiAKCQk8ZmlsdGVyIGlkPSdmdXp6JyB4PScwJyB5PScwJz4KCQkJPGZlVHVyYnVsZW5jZSB0eXBlPSd0dXJidWxlbmNlJyByZXN1bHQ9J3QnIGJhc2VGcmVxdWVuY3k9Jy4yIC4zJyBudW1PY3RhdmVzPSc1JyBzdGl0Y2hUaWxlcz0nc3RpdGNoJy8+CgkJCTxmZUNvbG9yTWF0cml4IHR5cGU9J3NhdHVyYXRlJyBpbj0ndCcgdmFsdWVzPScwJy8+CgkJPC9maWx0ZXI+Cgk8L2RlZnM+Cgk8cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2IpJy8+CjxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbHRlcj0ndXJsKCNmdXp6KScgb3BhY2l0eT0nMC41Jy8+Cjwvc3ZnPgo=";

@mixin body_bg($base64: $body-bg) {
  background-color: undefined;
  background-image: url("data:image/svg+xml;base64,#{$base64}");
}