AuthUserFile /dev/null
AuthGroupFile /dev/null
AuthName "AccessControl"
AuthType Basic
order deny,allow
deny from all
#IP address to White list

allow from 213.249.206.141 ## work
allow from  86.147.213.39  ## home

 

