// GENERAL STYLES
.wf-loading {
	p, h1, h2, h3, h4, h5, h6, li, .h1, .h2, .h3 {
		visibility: hidden;
	}
}
.wf-active {
	p, h1, h2, h3, h4, h5, h6, li, .h1, .h2, .h3 {
		visibility: visible;
	}
}

// LAYOUT & GRID STYLES
.container {
	position: relative;
}

.wrap {
	@extend .clearfix;
	width: 90%;
	margin: 0 auto;
}

a, a:visited {
	color: $bones-black;

	// on hover
	&:hover, &:focus {
		color: lighten($bones-black, 19%);
	}

	&:link {
		-webkit-tap-highlight-color : rgba(0,0,0,0);
	}
}

body {
	font-family: "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
	line-height: 1.5;
	color: #565656;
	font-size:18px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav {
	border: 1px solid #ccc;
	border-bottom: 0;
	margin-bottom: 2em;


		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			background-color: #eee;
			border-bottom: 1px solid #ccc;

	} // end .menu li



} // end .nav

a.current-menu-item,
a.current_page_parent {
		color: $bones-blue;
}


// post meta
.meta {
	color: #999;
}

// post content
.post-content {

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	video, object {
		max-width: 100%;
		height: auto;
	}

	code {
		background: #eee;
		border: 1px solid #cecece;
		padding: 0 2px;
	}

} // end of .post-content

// PAGE NAVI STYLES

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		// current page link
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

		} // end .bones_page_navi .bpn-current

		// common styles for page-navi links
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		// remove the bg on end links
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

	} // end .bones_page_navi

	// fallback previous & next links
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} // end .wp-prev-next

.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;
		} // end .commentlist li ul.children
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	// general comment classes
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;
		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard

	// comment content
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

// COMMENT FORM STYLES

.respond-form {
	margin: 1.5em 0;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		ul {
			padding: 0;
		}

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label {
				display:block;
			}
		}

		input[type="text"],
		input[type="email"],
		input[type="url"],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
						box-shadow: none;
			}
		}
			input,
			textarea {
				width:100%;
			}

			textarea {
			resize: none;
			min-height: 150px;
		}

	}
}
	// comment form title
	.comment-form-title {
		margin: 0 0 1.1em;
	}

	// allowed tags
	.allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	// no comments
	.nocomments {
		margin: 0 20px 1.1em;
	}

// SIDEBARS & ASIDES
	.widget {
		ul {
			padding-left:0;
		}
	}

// FOOTER STYLES

.footer {
	clear: both;
}

ol ol,
ol ul,
ul ul,
ul ol {
	margin: 0;
}

@font-face {
  font-family: 'icomoon';
  src: 	url("/content/themes/v3/library/fonts/icomoon.eot");
  src: 	url("/content/themes/v3/library/fonts/icomoon.eot?#iefix") format("embedded-opentype"),
  		url("/content/themes/v3/library/fonts/icomoon.svg#icomoon") format("svg"),
  		url("/content/themes/v3/library/fonts/icomoon.woff") format("woff"),
  		url("/content/themes/v3/library/fonts/icomoon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
}

.list-plain {
	list-style: none;
	padding-left: 0;
}

.list-inline{
	@extend .clearfix;
	@extend .list-plain;

	li {
		float: left;
		padding-right: 5px;
	}
}

// CV Styles
.personal-info {
	padding-top: 0.8em;
}