

.thoughts-template {

	width: 90%;
	margin: 0 auto;

	p,
	li {
		font-size:25px;
		margin:0 0 0.5em;
		// font-family: "freight-sans-pro-1","freight-sans-pro-2",sans-serif;
	}

	h1,
	.h1 { 
	  // font-family: "chaparral-pro-1","chaparral-pro-2",sans-serif;
	  margin: 0;
	  font-size:140px;
	  font-weight:100;
	}

	h2,
	.h2 {
		@extend h1;
		font-size:75px;
		margin:0;
	}

	h3,
	.h3 {
		@extend h1;
		font-size:75/2 * 1px;
		margin:0;
	}
}


