.thoughts-template {

	width: 90%;
	margin: 0 auto;

	p,
	li {
		font-size: 25px;
		margin: 0 0 0.5em;
	}

	h1,
	.h1 {
	  margin: 0;
	  font-size: 140px;
	  font-weight: 100;
	}

	h2,
	.h2 {
		font-size: 75px;
		margin: 0;
	}

	h3,
	.h3 {
		font-size: 75/2 * 1px;
		margin: 0;
	}
}


