* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// IMPORTING STYLES
@import "normalize";
@import "variables";
@import "mixins";

@import "base";
@import "post-format";
@import "menu";


@media only screen and (min-width: 481px) {
	@import "media-queries/481up";
}

@media only screen and (min-width: 768px) {
	@import "media-queries/768up";
}

@import "print";

// importing plugin code last!
@import "plugins/cf7";
