$craziness: true;

@if $craziness == true {
	html {
		animation: adjustHue 100s alternate infinite;
	}

	@keyframes adjustHue {
		0% {
			filter: hue-rotate(0);
		}

		100% {
			filter: hue-rotate(360deg);
		}
	}
}
