.home__articles {
	border-top: 1px dotted $light-gray;
	margin-top: 1rem;
}

.article--home {
	border-bottom: 1px dotted $light-gray;
	padding-top: 1em;
}

[data-visited] {
	background-color: rgba($yellow, .15);
	position: relative;
	margin-top: 1rem;

	&::after {
		content: "Viewed";
		position: absolute;
		top: 1.75em;
		right: 1em;
		background-color: $primary-color;
		padding: .75em;
		color: $white;
		border-radius: .75em;
		font-size: 12px;
		font-style: italic;
	}
}

.home__intro {
	font-weight: 800;
	text-align: center;

	&--archive {
		text-align: left;
	}
}
