.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}


.flex-item {
    // flex-grow: 1;
    // flex-shrink: 2;
    flex-basis: 250px;
    margin: 1em;
    background: rgba(red, .5);
    padding: .5em 1em;

    a,
    p,
    time {
        color: $white;
    }

    time {
        display: block;
        margin-bottom: rows(1);
    }
}
