.header__row
	+flexbox()
	+flex-direction(column)

header h1
	+order(2)

nav
	+order(1)
	background: $red

	+flexbox()
	+flex-wrap(wrap)

	a
		color: $white
		+fs(14)
		+flex()
		text-align: center
		text-transform: uppercase
		min-width: 100px
		padding: 1rem

		&:hover,
		&:focus
			color: $white
			text-decoration: underline