body
	font-family: "Open Sans", sans-serif


.content-container
	@extend .large-12
	@extend .columns
	background: $white
	padding: +rem-calc(20)

header,
main,
footer,
	@extend .row

.flexbox-container
	+flexbox()
	+align-items(center)
	+flex-just(center)
	background: $red
	width: 100%
	border: 1px solid $black
	min-height: 400px


.flexbox-inner

	+order(1)
