.nav {
	background: #eee;
	border: 0;
	margin-bottom: 2em;

		a {
			border-bottom: 0;
			float: left;

			&:hover,
			&:focus {
				background-color: #dedede;
			}

	}

}

h2, .h2 {
	font-size: 1.75em;
}


iframe {
	max-width: 100%;
	width: 100%;
}