// LAYOUT & GRID STYLES

.wrap {
	max-width: 44em;
}
.fourcol   {
	width: 31.491712705%;
}       // 30.75%;
.eightcol  {
	width: 65.74585634900001%;
}  // 65.4%;


// layout & column defaults
.fourcol,
.eightcol {
	position: relative;
	float: left;
	margin-left: 2.762430939%;
}

.first {
	margin-left: 0;
}

.last {
	float: right;
}



// SIDEBARS & ASIDES

.sidebar {
	margin-top: 2.2em;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}