{
	"rules": {
		"block-no-empty": true,
		"color-no-invalid-hex": true,
		"declaration-colon-space-before": "never",
		"declaration-colon-space-after": "always",
		"indentation": "tab",
		"number-leading-zero": "never",
		"length-zero-no-unit": true,
	}
}
