{
	"rules": {
		"block-no-empty": 2,
		"color-no-invalid-hex": 2,
		"declaration-colon-space-before": [2, "never"],
		"declaration-colon-space-after": [2, "always"],
		"indentation": [2, "tab"],
		"number-leading-zero": [2, "never"]
	}
}
