/************************
Author: Andrew JD Hudson
Twitter: @bigandy
email: andy@big-andy.co.uk
**************************
*/
/* line 8, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 17, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 23, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 28, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 32, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 42, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 46, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 50, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 55, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 59, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
h1, .thoughts-template h2, .thoughts-template h3 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 64, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 69, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 74, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 79, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 84, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 89, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 94, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 98, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 102, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 106, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 112, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 119, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 125, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 131, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
q {
  quotes: none;
}

/* line 136, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 141, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
small {
  font-size: 75%;
}

/* line 146, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 153, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 157, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 164, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 168, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 174, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 179, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 184, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 189, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 193, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 197, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
form {
  margin: 0;
}

/* line 201, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 207, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 216, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 223, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 230, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 236, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 241, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 246, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 254, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 259, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 264, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 269, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 274, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 286, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
ul,
ol {
  padding-left: 1rem;
}

/* line 290, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
dd {
  margin: 0;
}

/* line 296, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/* line 300, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto;
}

/* line 309, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
b,
strong,
.strong {
  font-weight: bold;
}

/* line 315, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
dfn,
em,
.em {
  font-style: italic;
}

/* line 319, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 3, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.clearfix, .wrap, .gallery {
  zoom: 1;
}
/* line 5, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.clearfix:before, .wrap:before, .gallery:before, .clearfix:after, .wrap:after, .gallery:after {
  content: "";
  display: table;
}
/* line 9, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.clearfix:after, .wrap:after, .gallery:after {
  clear: both;
}

/* line 16, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 40, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 45, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 46, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 47, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 51, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.alert {
  padding: 5px 18px;
  border: 3px solid;
}

/* line 56, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 61, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 66, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 71, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.success {
  border-color: #deeaae;
  background: #e6efc2;
}

/* line 140, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
/* line 159, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
/* line 167, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}

/* line 172, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  box-shadow: inset 0 0 3px #59b3ec;
}
/* line 177, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
/* line 181, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}

/* line 3, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.wf-loading p, .wf-loading h1, .wf-loading .thoughts-template h2, .thoughts-template .wf-loading h2, .wf-loading .thoughts-template h3, .thoughts-template .wf-loading h3, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6, .wf-loading li {
  visibility: hidden;
}

/* line 8, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.dark {
  background: rgba(255, 165, 0, 0.1);
}
/* line 12, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.dark .nav,
.dark .nav a {
  background: transparent;
}

/* line 19, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.wrap {
  width: 90%;
  margin: 0 auto;
}

/* line 25, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
a, a:visited {
  color: #444444;
}
/* line 29, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #747474;
}
/* line 34, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 39, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
body {
  font-family: "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
  line-height: 1.5;
  color: #565656;
  font-size: 18px;
}

/* line 46, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
h1, .thoughts-template h2, .thoughts-template h3, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
  text-rendering: optimizelegibility;
  font-weight: 500;
}
/* line 51, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
h1 a, .thoughts-template h2 a, .thoughts-template h3 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 56, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
h1, .thoughts-template h2, .thoughts-template h3, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

/* line 61, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

/* line 67, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
h3, .h3 {
  font-size: 1.125em;
}

/* line 71, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

/* line 76, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 83, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.nav {
  border: 1px solid #ccc;
  border-bottom: 0;
}
/* line 89, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.nav a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
/* line 102, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.nav a ul.sub-menu li a,
.nav a ul.children li a {
  padding-left: 30px;
}

/* line 117, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
a.current-menu-item,
a.current_page_parent {
  color: #1990db;
}

/* line 123, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
#content {
  margin-top: 2.2em;
}

/* line 128, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.meta {
  color: #999;
}

/* line 135, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.post-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 142, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.post-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 148, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.post-content video, .post-content object {
  max-width: 100%;
  height: auto;
}
/* line 153, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.post-content code {
  background: #eee;
  border: 1px solid #cecece;
  padding: 0 2px;
}

/* line 161, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.wp-caption {
  background: #eee;
  padding: 5px;
}
/* line 166, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.wp-caption img {
  margin-bottom: 0;
  width: 100%;
}
/* line 171, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* line 182, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* line 187, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
/* line 191, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 198, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.bones_page_navi li a:hover, .bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
/* line 207, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
/* line 216, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
/* line 219, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
/* line 228, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}

/* line 237, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 241, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* line 249, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
}
/* line 257, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 261, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist li ul.children {
  margin: 0;
}
/* line 266, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 270, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 275, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 283, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .odd {
  background: #eee;
}
/* line 286, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 291, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 294, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 299, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .vcard time {
  float: right;
}
/* line 302, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 306, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 314, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 325, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 328, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 337, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
/* line 349, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
  opacity: 1;
}

/* line 359, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
/* line 363, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 366, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 372, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 380, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form form input[type="text"],
.respond-form form input[type="email"],
.respond-form form input[type="url"],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
}
/* line 386, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form form input[type="text"]:focus,
.respond-form form input[type="email"]:focus,
.respond-form form input[type="url"]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
/* line 391, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form form input[type="text"]:invalid,
.respond-form form input[type="email"]:invalid,
.respond-form form input[type="url"]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  box-shadow: none;
}
/* line 401, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form form input[type="text"],
.respond-form form input[type="email"],
.respond-form form input[type="url"] {
  max-width: 400px;
  min-width: 250px;
}
/* line 406, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* line 415, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* line 420, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* line 425, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/* line 431, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.widget ul {
  padding-left: 0;
}

/* line 438, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.footer {
  clear: both;
}

/* line 445, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
ol ol,
ol ul,
ul ul,
ul ol {
  margin: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* line 460, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
}

/* line 466, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_base.scss */
.list-plain {
  list-style: none;
  padding-left: 0;
}

/* line 7, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_contact.scss */
.wpcf7 label,
.wpcf7 textarea,
.wpcf7 input[type="text"] {
  display: block;
}
/* line 12, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_contact.scss */
.wpcf7 input[type="text"],
.wpcf7 textarea {
  width: 270px;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

/* line 3, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_gallery.scss */
.gallery {
  margin-bottom: -0.35714em;
}
/* line 9, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_gallery.scss */
.gallery a {
  display: block;
  float: left;
  line-height: 0;
}
/* line 15, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_gallery.scss */
.gallery img {
  margin: 0 5px 5px 0;
}

/* line 3, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template {
  width: 90%;
  margin: 0 auto;
}
/* line 8, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template li a {
  text-decoration: none;
}
/* line 13, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template p,
.thoughts-template li {
  font-size: 25px;
  margin: 0 0 0.5em;
}
/* line 19, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template h1, .thoughts-template h2, .thoughts-template h3 {
  margin: 0;
  font-size: 140px;
  font-weight: 100;
}
/* line 26, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template h2 {
  font-size: 75px;
  margin: 0;
}
/* line 32, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template h3 {
  font-size: 37.5px;
  margin: 0;
}
/* line 38, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template li {
  list-style-type: none;
  padding: 0;
}
/* line 42, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template li:hover {
  cursor: pointer;
}
/* line 44, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template li:hover span {
  color: red;
}
/* line 54, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_thoughts-template.scss */
.thoughts-template li:hover span {
  color: red;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_post-format.scss */
.aside p {
  border-left: 10px solid #1990db;
  font-style: italic;
  margin-left: 0px;
  padding-left: 10px;
  width: 80%;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_page-home.scss */
.page-home {
  font-size: 16px;
}
/* line 6, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_page-home.scss */
.page-home h1, .page-home .thoughts-template h2, .thoughts-template .page-home h2, .page-home .thoughts-template h3, .thoughts-template .page-home h3,
.page-home .h1 {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 11, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_page-home.scss */
.page-home aside .first {
  clear: left;
}
/* line 15, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_page-home.scss */
.page-home p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/* line 22, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_page-home.scss */
.page-home img {
  max-width: 100%;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10100;
  text-align: center;
  line-height: 0;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#jqlb_loading {
  height: 32px;
  background-image: url(../img/jquery-lightbox/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#jqlb_closelabel {
  height: 22px;
  background-image: url(../img/jquery-lightbox/closelabel.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#lightbox a img {
  border: 0;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#outerImageContainer {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageContainer {
  padding: 10px;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#loading {
  position: absolute;
  top: 40%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#hoverNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageContainer > #hoverNav {
  left: 0;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#hoverNav a {
  outline: 0;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#prevLink, #nextLink {
  width: 45%;
  height: 100%;
  background: transparent url(../img/jquery-lightbox/blank.gif) no-repeat;
  display: block;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#prevLink {
  left: 0;
  float: left;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#nextLink {
  right: 0;
  float: right;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#prevLink:hover, #prevLink:visited:hover {
  background: url(../img/jquery-lightbox/prev.gif) left 50% no-repeat;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#nextLink:hover, #nextLink:visited:hover {
  background: url(../img/jquery-lightbox/next.gif) right 50% no-repeat;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#nextLinkText, #prevLinkText {
  color: #ff9834;
  font-weight: bold;
  text-decoration: none;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#nextLinkText {
  padding-left: 20px;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#prevLinkText {
  padding-right: 20px;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#downloadLink {
  margin-left: 10px;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
.ontop #imageData {
  padding-top: 5px;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageDataContainer {
  font: 10px Verdana,Helvetica,sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageData {
  padding: 0 10px;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageData #imageDetails {
  width: 70%;
  float: left;
  text-align: left;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageData #caption {
  font-weight: bold;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageData #numberDisplay {
  display: block;
  clear: left;
  padding-bottom: 1.0em;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageData #bottomNavClose {
  width: 66px;
  float: right;
  padding-bottom: .7em;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#imageData #helpDisplay {
  clear: left;
  float: left;
  display: block;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10090;
  width: 100%;
  height: 500px;
  background-color: #000;
  filter: alpha(opacity=60);
  opacity: .6;
  display: none;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
.clearfix:after, .wrap:after, .gallery:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
* html > body .clearfix, * html > body .wrap, * html > body .gallery {
  display: inline-block;
  width: 100%;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
* html .clearfix, * html .wrap, * html .gallery {
  /*\*/
  height: 1%;
  /**/
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_lightbox.scss */
#lightboxIframe {
  display: none;
}

/* line 1, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
div.wpcf7 {
  margin: 0;
  padding: 0;
}

/* line 6, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
}

/* line 11, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
div.wpcf7-mail-sent-ok {
  border: 2px solid #398f14;
}

/* line 15, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
div.wpcf7-mail-sent-ng {
  border: 2px solid #ff0000;
}

/* line 19, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
div.wpcf7-spam-blocked {
  border: 2px solid #ffa500;
}

/* line 23, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
div.wpcf7-validation-errors {
  border: 2px solid #f7e700;
}

/* line 27, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
span.wpcf7-form-control-wrap {
  position: relative;
}

/* line 31, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
span.wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  background: #fff;
  border: 1px solid #ff0000;
  font-size: 10pt;
  width: 280px;
  padding: 2px;
}

/* line 43, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
span.wpcf7-not-valid-tip-no-ajax {
  color: #f00;
  font-size: 10pt;
  display: block;
}

/* line 49, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
span.wpcf7-list-item {
  margin-left: 0.5em;
}

/* line 53, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
.wpcf7-display-none {
  display: none;
}

/* line 57, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  margin-left: 4px;
}

/* line 63, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/plugins/_cf7.scss */
div.wpcf7 .watermark {
  color: #888;
}

@media only screen and (min-width: 481px) {
  /* line 4, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_481up.scss */
  .post-content .alignleft, .post-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 9, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_481up.scss */
  .post-content .alignright, .post-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  /* line 14, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_481up.scss */
  .post-content .aligncenter, .post-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
}
@media only screen and (min-width: 768px) {
  /* line 3, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .wrap {
    max-width: 1140px;
  }

  /* line 6, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .onecol {
    width: 5.801104972%;
  }

  /* line 7, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .twocol {
    width: 14.364640883%;
  }

  /* line 8, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .threecol {
    width: 22.928176794%;
  }

  /* line 9, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .fourcol {
    width: 31.491712705%;
  }

  /* line 10, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .fivecol {
    width: 40.055248616%;
  }

  /* line 11, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .sixcol {
    width: 48.618784527%;
  }

  /* line 12, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .sevencol {
    width: 57.182320438000005%;
  }

  /* line 13, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .eightcol {
    width: 65.74585634900001%;
  }

  /* line 14, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .ninecol {
    width: 74.30939226%;
  }

  /* line 15, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .tencol {
    width: 82.87292817100001%;
  }

  /* line 16, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .elevencol {
    width: 91.436464082%;
  }

  /* line 17, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .twelvecol {
    width: 99.999999993%;
  }

  /* line 20, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }

  /* line 26, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .first {
    margin-left: 0;
  }

  /* line 30, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .last {
    float: right;
  }

  /* line 34, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .nav {
    background: #eee;
    border: 0;
  }
  /* line 38, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .nav a {
    border-bottom: 0;
    float: left;
    position: relative;
  }
  /* line 43, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .nav a:hover, .nav a:focus {
    background-color: #dedede;
  }
  /* line 48, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .nav a ul.sub-menu,
  .nav a ul.children {
    width: 200px;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
  }
  /* line 58, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .nav a ul.sub-menu li a,
  .nav a ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  /* line 68, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .nav a ul.sub-menu li:last-child a,
  .nav a ul.children li:last-child a {
    border-bottom: 0;
  }
  /* line 76, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .nav a:hover ul {
    top: auto;
    display: block;
  }

  /* line 87, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .sidebar {
    margin-top: 2.2em;
  }

  /* line 91, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }

  /* line 96, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  /* line 101, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .widget ul li {
    margin-bottom: 0.75em;
  }
  /* line 104, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/_768up.scss */
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
}
@media print {
  /* line 75, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 83, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 88, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 93, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 100, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 104, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 109, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* line 113, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 117, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 125, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 131, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 140, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
/* line 146, C:/Users/TeamBoudin/Desktop/Git/big-andy.co.uk/content/themes/v3/library/sass/style.scss */
.page-home p {
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
