@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 *
 * sass --watch your-project.scss:your-project.min.css --style compressed
 *
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */
// Setup
@import "vars";
@import "inuit/inuit";

// She’s all yours, cap’n... Begin importing your stuff here.

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1 {
	color:blue;
}

h1,h2,h3,h4,h5,h6 {
	//font-family:$secondary-font;
}

.wrapper {
	width:960px;
	margin:60px auto;
}

