.home__articles {
	border-top: 1px dotted var(--light-gray);
	margin-top: 1rem;
}

.article--home {
	border-bottom: 1px dotted var(--light-gray);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
}

[data-visited] {
	background-color: color(var(--yellow) a(15%));
	position: relative;
	margin-top: 1rows;

	&::after {
		content: "Viewed";
		position: absolute;
		top: 1.75em;
		right: 1em;
		background-color: var(--red);
		padding: .75em;
		color: var(--white);
		border-radius: .75em;
		font-size: 12px;
		font-style: italic;
	}

	.post-content {
		display: none;
	}
}

.article__header--front-page {
	margin-bottom: 1rem;
	margin-right: 55px;
}

.article__time {
	font-weight: 800;
	font-size: 80%;
}

.article__title {
	padding-right: .5rem;
}

.home__intro {
	font-weight: 800;
	text-align: center;

	&--archive {
		text-align: left;
		margin-left: 1rem;
	}
}
