.svg-sprite {
	display: none;
}

.icon {
	@mixin wh 30px;
	display: inline-block;
	fill: var(--orange);

	&:hover {
		fill: var(--blue);
	}
}

.icon--shortcode {
	@mixin wh 100px;
	fill: var(--body-color);
}

.icon--small {
	@mixin wh 50px;
}

.icon--large {
	@mixin wh 150px;
}
