h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5em;
}

h1,
h2,
h3 {
	letter-spacing: -1px;
}

.page__title {
	background: var(--black);
	color: var(--white);
	padding: 1rem 0;
	text-align: center;
	margin: 0;
}

.content-container {
	.columns + .columns:last-child {
		float: left;
	}
}




.list--inline {
	@mixin list--plain;

	li {
		float: left;
	}
}

pre {
	background: var(--light-gray);
	padding: .5rem;
	margin: .25rem 0;
}


/* Links */
a,
.current {
	border-bottom: 3px solid transparent;
	margin-bottom: -3px;
}


a {
	border-bottom: 3px solid transparent;
	margin-bottom: -3px;

	&:hover,
	&:focus {
		border-bottom-color: var(--primary-color);
	}
}

.current {
	border-bottom-color: var(--black);
}

.current-menu-item,
.current_page_item,
.current_page_parent {
	> a {
		border-bottom: 3px solid var(--primary-color);
	}
}

.link--dark {
	color: var(--body-color);
}

.header__link {
	border-bottom: 0;
}

article {
	&:nth-child(odd) {
		clear: left;
	}
}

/* vcard styles */
.vcard {
	border: 0;
	padding: 0;
	margin: 0;
	display: block;

	.fn {
		font-size: 2.75em;
	}

	.adr {
		margin-bottom: .3rem;
	}

	.email,
	.tel {
		font-size: 1rem;
		line-height: 1.6;
		margin-bottom: 1.25rem;
	}

	a {
		margin-bottom: 0;
		border-bottom: 0;
	}
}

/* Picture Styles */
picture,
picture > img {
	width: 100%;
	max-width: 100%;
}

.wp-pagenavi {
	padding-top: 1rows;
	padding-bottom: 3rows;
	text-align: center;

	a,
	span {
		padding: 1em;
	}
}

.nextpostslink,
.previouspostslink {
	display: none;
}

.links {
	@mixin cf;
	padding: 1rows;
}

